<script>
    function clearcontent(elementID) { 
        var div = document.getElementById(elementID);   
        while(div.firstChild) {  
        div.removeChild(div.firstChild); 
        }   
    }
    clearcontent('radar')
    clearcontent('pie')
    clearcontent('calendar')
    clearcontent('everydayAQI')
</script>

<script src="{{ url_for('static', filename='js/parallel.js') }}"></script>

<script src="{{ url_for('static', filename='js/spiral.js') }}"></script>

<script src="{{ url_for('static', filename='js/sunburst.js') }}"></script>
<script src="{{ url_for('static', filename='js/bubble_zoom.js') }}"></script>