body {
    background-color: #ffffff;
    /* margin: 100px 100px; */
}

#banner {
    width: 1275px;
    height: 80px;
    background-color: #5c5c5c;
    line-height: 80px;
    color: #fff;
    box-shadow: 5px 5px 5px #999;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    margin-bottom: 2px;
}

#banner #title {
    float: left;
    font-size: 40px;
    margin-left: 10px;
}

#banner #showChoose {
    float: left;
    height: 80px;
    font-size: 10px;
    margin-left: 80px;
}

#banner p {
    height: 30px;
    line-height: 30px;
    font-weight: normal;
}

#banner #sendButton {
    position: relative;
    float: left;
    height: 80px;
    margin-left: 80px;
}
#banner #clear {
    position: absolute;
    top: 15px;
}
#banner #send {
    position: absolute;
    top: 45px;
}

#banner #control {
    position: relative;
    width: 600px;
    height: 80px;
    line-height: 80px;
    left: 20px;
    margin-left: 800px;
}

#banner #control #selection1 {
    position: absolute;
}
#banner #control #selection2 {
    position: absolute;
    left: 160px;
}
#banner #control #selection3 {
    position: absolute;
    left: 310px;
}





/* leftpart */
#leftPart {
    float: left;
    position: absolute;
    width: 297px;
    height: 720px;
    margin-top: 7px;
    margin-left: 6px;
    border-radius: 0px;
    border: 1px solid #000;
}

#leftPart #rankTitle {
    position: absolute;
    width: 297px;
    height: 30px;
    background-color: #a9a9a9;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}
#leftPart #rank {
    position: absolute;
    width: 291px;
    height: 140px;
    left: 3px;
    top: 23px;
}

#leftPart #stackTitle {
    position: absolute;
    width: 297px;
    height: 30px;
    background-color: #a9a9a9;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    top: 160px;
}
#leftPart #stack {
    position: absolute;
    width: 291px;
    height: 160px;
    left: 3px;
    top: 180px;
}

#leftPart #scatterTitle {
    position: absolute;
    width: 297px;
    height: 30px;
    background-color: #a9a9a9;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    top: 340px;
}
#leftPart #scatter {
    position: absolute;
    width: 291px;
    height: 160px;
    top: 365px;
}

#leftPart #leftMapTitle {
    position: absolute;
    width: 297px;
    height: 30px;
    background-color: #a9a9a9;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    top: 522px;
}
#leftPart #leftMap {
    position: absolute;
    width: 291px;
    height: 175px;
    top: 545px;
    left: 10px;
}

#leftPart .tick line {
    stroke: #a9a9a9;
}
#leftPart .domain {
    visibility: hidden;
}


/* for leftMap */
#leftPart .state {
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
}

#leftPart .state:hover {
    fill-opacity: 0.5;
}






/* middle part */
#middlePart {
    float: left;
    position: absolute;
    width: 493px;
    height: 720px;
    /* top: 62px;
    left: 312px; */
    margin-top: 7px;
    margin-left: 310px;
    border-radius: 0px;
    border: 1px solid #000;
}

#middlePart #centerMapTitle {
    width: 493px;
    height: 34px;
    background-color: #a9a9a9;
    position: absolute;
    line-height: 34px;
    font-size: 18px;
    text-align: center;
}
#middlePart #centerMap {
    position: absolute;
    width: 493px;
    height: 321px;
    top: 35px;
}

#middlePart #timeLine {
    position: absolute;
    width: 493px;
    height: 98px;
    top: 360px;
}

#middlePart #bt1 {
    position: absolute;
    top: 430px;
}

#middlePart #bt2 {
    position: absolute;
    top: 400px;
    left: 200px;
}

#middlePart #themeRiverTitle {
    width: 493px;
    height: 30px;
    background-color: #a9a9a9;
    position: absolute;
    line-height: 30px;
    font-size: 12px;
    top: 460px;
    text-align: center;
}
#middlePart #themeRiver {
    position: absolute;
    width: 493px;
    height: 225px;
    top: 490px;
}

#middlePart #cheap {
    display: none;
}

#middlePart .block {
    width: 100px;
    position: relative;
    clear: both;
    margin: 0 0 12.5px;
    float: left;
}

#middlePart label {
    left: 435px;
    top: 5px;
    width: 50px;
    height: 25px;
    box-sizing: border-box;
    border: 1.5px solid;
    float: left;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
}

#middlePart input[type=checkbox]:checked+label {
    background: #55e868;
}

#middlePart input[type=checkbox]:checked+label:before {
    left: 25px;
}

#middlePart label:before {
    transition: .3s ease;
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background: white;
    left: 1px;
    top: 1px;
    box-sizing: border-box;
    border: 1.5px solid;
    color: black;
    border-radius: 50px;
}






/* rightpart */
#rightPart {
    float: left;
    position: absolute;
    width: 469px;
    height: 720px;
    margin-top: 7px;
    margin-left:810px;
    border-radius: 0px;
    border: 1px solid #000;
}


#rightPart #calendarTitle {
    width: 469px;
    height: 30px;
    background-color: #a9a9a9;
    position: absolute;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}
#rightPart #calendar {
    position: absolute;
    width: 600px;
    height: 170px;
    top: 45px;
    left: 15px;
}

#rightPart #radarTitle {
    width: 230px;
    height: 30px;
    background-color: #a9a9a9;
    position: absolute;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    top: 225px;
}
#rightPart #radar {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 235px;
}

#rightPart #pieTitle {
    width: 230px;
    height: 30px;
    background-color: #a9a9a9;
    position: absolute;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    left: 239px;
    top: 225px;
}
#rightPart #pie {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 230px;
    top: 228px;
}

#rightPart #everydayTitle {
    width: 370px;
    height: 30px;
    background-color: #a9a9a9;
    position: absolute;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    top: 445px;
}
#rightPart #everydayAQI {
    position: absolute;
    height: 250px;
    width: 600px;
    left: 5px;
    top: 480px;
}

#rightPart #bubselect {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 380px;
    top: 400px;
    font-size: 10px;
    color: gray;
}



.bubselector {
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    color: gray;
    width: 50px;
    height: 18px;
    position: absolute;
    top: 60px;
    left: 0px;
}

#select_bub {
    font-size:12px;
    width: 50px;
    height: 18px;
    position: absolute;
    top: 40px;
    left: 0px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: gray;
    width: 80px;
    height: 25px;
}

.select_title {
    font-size: 14px;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #fff;
    stroke-width: 0.5px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}

.bubbles {
    stroke-width: 0.5px;
    stroke: white;
  }
