<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>left part</title>

    <!-- load css -->
    <link rel="stylesheet" href="static/css/index.css">

    <!-- load jquery -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!-- load d3 -->
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- 引入index.css -->
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
    
    <!-- load Echart -->
    <script type="text/javascript" src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='echarts-gl.min.js') }}"></script>

    <!-- config map API -->
    <script type="text/javascript"
        src="https://api.map.baidu.com/getscript?v=3.0&ak=SSMP8MWDwRzUwafch7SGK9N5L4ET28IZ"></script>
    <script type="text/javascript"
        src="https://fastly.jsdelivr.net/npm/echarts@5.3.2/dist/extension/bmap.min.js"></script>
    <style type="text/css">
        .BMap_cpyCtrl {
            display: none;
        }
    </style>
    <style type="text/css">
        .anchorBL {
            display: none;
        }
    </style>

</head>

<body>
    <div id="maintitle">
        <h1>PollutionVis</h1>
    </div>  
    
    <div id="leftPart">
        <svg id="rank"></svg>
        <svg id="stack"></svg>
        <svg id="scatter"></svg>
        <svg id="leftMap"></svg>
    </div>

    <div id="middlePart">
        <g id="centerMap"></g>
        <g id="timeLine"></g>
        <g id="themeRiver"></g>
        <input type="checkbox" id="switch" onclick="bt1()" /><label for="switch">Toggle</label>
        <div id="selectedtext">
            <p id='p_area'>选择地区 ：</p>
            <p id='p_time'>选择时间 ：</p>
        </div>
        <div id="sendbutton">
            <input id="clear" type="button" value="清除">
            <p> </p>
            <input id="send" type="button" value="发送">
        </div>
    </div>
    
    <div id="rightPart">
        <div id="control">
            <div id = "selection1">
                <label class = "select_title">省份：<label>
                    <select name="province" hx-get="/cities/" 
                    hx-target="#cities" hx-indicator=".htmx-indicator" id ="provinces" hx-trigger="change, load" class ="select">
                    {% for province in provinces %}
                        <option value="{{ province.code }}">{{ province.name }}</option>
                    {% endfor %}
    
                    </select>
            </div>
    
            <div id = "selection2">
                <label class = "select_title">城市：</label>
                    <select id="cities" name="city" hx-get="/areas/"  
                    hx-trigger="change, htmx:afterSettle" hx-target="#areas"  
                    hx-indicator=".htmx-indicator" class ="select">
                    {{ render_partial('partials/cities.html', cities=cities) }}
                    </select>
            </div>
    
            <div id="areas">
                {{ render_partial('partials/areas.html', areas=areas) }}
            </div>

            <div id = "selection3">
                <label class = "select_title">年份：</label>
                    <select name="year" id ="year" class ="select"  hx-get="/areas/"  
                    hx-trigger="change, htmx:afterSettle" hx-target="#areas"  
                    hx-indicator=".htmx-indicator" >
                    {{ render_partial('partials/year.html') }}
                    </select>
            </div>

        </div>
        <div id="radar"></div>
        <div id="calendar"></div>
        <div id="pie"></div>
        <div id="everydayAQI"></div>
        <div id = "bubselect">
            <label id = "select_bub">y轴<br></label>
                <select name="bub" id ="bub" class ="bubselector"  hx-get="/bub/"  
                hx-trigger="change, htmx:afterSettle" hx-target="#areas"  
                hx-indicator=".htmx-indicator" >
                {{ render_partial('partials/selector.html') }}
                </select>
        </div>
    </div>

    <div id="temp1">
        从后台接收消息：
        <br>
        <label id="recv_name"></label>
        <label id="recv_age"></label>
    </div>

    <div id="temp2">
        向后台发送消息:
        <label>layer_time:</label>
        <input id="layer_time_input" type="text" name="layer_time" value="year">
        <br>
        <label>layer_geo:</label>
        <input id="layer_geo_input" type="text" name="layer_geo" value="province">
        <br>

        <div class="time">2013</div>
        <div class="time">2014</div>
        <div class="time">2015</div>

        <div class="time">201301</div>
        <div class="time">201302</div>
        <div class="time">201303</div>
        <div class="time">201304</div>
        <div class="time">201305</div>
        <div class="time">201306</div>
        <div class="time">201307</div>
        <div class="time">201308</div>
        <div class="time">201309</div>
        <div class="time">201310</div>
        <div class="time">201311</div>
        <div class="time">201312</div>

        <div class="time">2013010100</div>
        <div class="time">2013010200</div>
        <div class="time">2013010300</div>

        <div class="province">陕西省</div>
        <div class="province">山西省</div>
        <div class="province">河北省</div>
        <div class="province">北京市</div>
        <div class="province">浙江省</div>
        <div class="province">海南省</div>

        <div class="province">杭州市</div>
        <div class="province">湖州市</div>
        <div class="province">温州市</div>

        <!-- <input id="send" type="button" value="发送"> -->
    </div>

</body>

    <!-- load my js -->
    
    <!-- middle -->
    <!-- <script src="{{url_for('static',filename='js/middleFunction.js')}}"></script> -->
    <script src="../static/js/middleFunction.js"></script>
    <!-- <script src="{{url_for('static',filename='js/middleInit.js')}}"></script> -->
    <script src="../static/js/middleInit.js"></script>

    <!-- <script src="{{url_for('static',filename='js/adcode.js')}}"></script> -->
    <script src="../static/js/adcode.js"></script>


    <!-- right -->
    <script src="{{ url_for('static', filename='js/parallel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sunburst.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spiral.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bubble_zoom.js') }}"></script>   

    <!-- left -->
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/index.js"></script>


</html>